header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
    background-color: black;
    position: fixed;
    border-radius: 1em;
    margin-top: 5vh;
    border-color: #197a76;
    border-style: solid;
}

.header-button {
    height: 10vh;
    font-size: 3em;
    background-color: black;
    color: #197a76;
    border: none;
    cursor: pointer;
}

.header-button:hover {
    color:#8af8d6;
    font-weight: bold;
}

.active {
    color: #8af8d6;
    font-weight: bold;
}

