form {
    border-color: #197a76;
    border-style: solid;
    border-radius: 1em;
    overflow: hidden;
    background-color: #8af8d6;
    display: flex;
    width: 25em;
    height: 3em;
}

.region-select {
    width: 30%;
    height: 100%;
    background-color: #8af8d6;
    color: #00575c;
    border: none;
    font-weight: bold;
}

.search-input {
    width: 70%;
    height: 100%;
    border: none;
    font-weight: bold;
}