.account-alignment {
    display: flex;
    justify-content: space-between;
    width:80vw;
}


.account-info {
    color:#8af8d6;
    text-align: left;
    margin-left: 1vw;
}

.account-info > h2 {
    font-size: 4em;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}

.account-info > h1 {
    font-size: 3em;
    color: #197a76;
    font-weight: normal;
    margin-bottom: 0;

}

.account-stats {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.save-button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 1vw;
}

.save-button-container > button {
    width: 12em;
    background-color: black;
    height: 3em;
    border-style: solid;
    cursor: pointer;
}

.unsaved {
    border-color: #8af8d6;
    color:#8af8d6;
}

.saved {
    border-color: #197a76;
    color: #197a76;
}