.account-info {
    color:#8af8d6;
    width: 80vw;
    text-align: left;
    margin-left: 2vw;
}

.account-info > h2 {
    font-size: 4em;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}

.account-info > h1 {
    font-size: 3em;
    color: #197a76;
    font-weight: normal;
    margin-bottom: 0;

}

.account-stats {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

